{{>layout/header}}
    <h1>일찌기 나는 아무것도 아니었다 마른 빵에 핀 곰팡이 아직도 구더기에 뒤덮인 천년 전에 죽은 시체 아무 부모도 나를 키워주지 않았다
    쥐구멍에서 잠들고 벼룩의 간을 내먹고 아무 데서나 하염없이 죽어 가면서 일찌기 나는 아무것도 아니었다 떨어지는 유성처럼 우리가 잠시
    스쳐갈 때 그러므로, 나를 안다고 말하지 말라. 나는너를모른다 나는너를모른다 너당신그대, 행복 너, 당신, 그대, 사랑<br>
        내가 살아있다는 것, 그것은 영원한 루머에 지나지 않는다.</h1>
    <p>이 時代의 사랑</p>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">등록</a>
                {{#userName}}
                    Logged in as :<span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userName}}
                {{^userName}}
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                {{/userName}}
            </div>
        </div>
    </div>

    <!-- 게시글 목록 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
            <tr>
                <th>no</th>
                <th>제목</th>
                <th>작성자</th>
                <th>수정일</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}"> {{title}} </a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
            {{/posts}}
            {{^posts}}
                <tr>
                    <td colspan="4">
                          <h3 align="center">게시물이 없습니다.</h3>
                    </td>
                </tr>
            {{/posts}}
        </tbody>
    </table>
{{>layout/footer}}